<div class="container">
  <h1>Список пользователей</h1>
  <div class="controls">
    <label for="sortDirection">Сортировка:</label>
    <select id="sortDirection" [(ngModel)]="sortDirection" (change)="fetchPersons()">
      <option value="asc">По возрастанию</option>
      <option value="desc">По убыванию</option>
    </select>
  </div>
  <div class="controls">
    <label for="sortProperty">Сортировка:</label>
    <select id="sortProperty" [(ngModel)]="sortProperty" (change)="fetchPersons()">
      <option value="id">По id</option>
      <option value="name">По name</option>
      <option value="eyeColor">По eyeColor</option>
      <option value="hairColor">По hairColor</option>
      <option value="location">По location</option>
      <option value="weight">По weight</option>
      <option value="nationality">По nationality</option>
      <option value="owner_id">По owner_id</option>
    </select>
  </div>
  <div class="controls">
    <label for="pageSize">Размер страницы:</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="fetchPersons()">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="25">25</option>
    </select>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Локация</th>
      <th>Цвет глаз</th>
      <th>Цвет волос</th>
      <th>Вес</th>
      <th>Национальность</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td> имя={{ person.location.name }} x={{ person.location.x }} y={{ person.location.y }}</td>
      <td>{{ person.eyeColor }}</td>
      <td>{{ person.hairColor }}</td>
      <td>{{ person.weight }}</td>
      <td>{{ person.nationality }}</td>
      @if (person.owner_id == userService.user?.id) {
        <td>
          <div class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ⋮
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                <button (click)="openEditModal(person)" class="dropdown-item">Изменить</button>
              </li>
              <li>
                <button (click)="deletePerson(person)" class="dropdown-item">Удалить</button>
              </li>

            </ul>
          </div>
        </td>
      } @else {
        <td>&nbsp;</td>
      }
    </tr>
    </tbody>
  </table>
  <button (click)="decrementPage()">налево</button>
  <span>{{ page + 1 }}</span>
  <button (click)="incrementPage()">направо</button>
  <div *ifAuthenticated="true" class="mt-lg-0 d-flex align-items-md-center">
    <button (click)="addPerson()">Добавить Person</button>
    <app-zip-upload></app-zip-upload>
  </div>


</div>


<div class="modal" *ngIf="isEditModalOpen">
  <form [formGroup]="personForm" (ngSubmit)="saveChanges()" novalidate>
    <div class="modal-content">
      <h2>Редактировать пользователя</h2>

      <label>
        Имя:
        <input formControlName="name"/>
        <div *ngIf="personForm.get('name')?.touched && personForm.get('name')?.invalid">
          <small *ngIf="personForm.get('name')?.errors?.['required']">Поле "Имя" обязательно.</small>
          <small *ngIf="personForm.get('name')?.errors?.['minlength']">Имя не может быть пустым.</small>
        </div>

      </label>

      <div formGroupName="location" class="inner-form">
        <label>
          Имя локации:
          <input formControlName="name"/>
        </label>

        <label>
          X локации:
          <input formControlName="x" type="number"/>
        </label>

        <label>
          Y локации:
          <input formControlName="y" type="number"/>
        </label>
      </div>

      <label>
        Цвет глаз:
        <select formControlName="eyeColor">
          <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
        </select>
      </label>

      <label>
        Цвет волос:
        <select formControlName="hairColor">
          <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
        </select>
      </label>

      <label>
        Вес:
        <input formControlName="weight" type="number"/>
        <div *ngIf="personForm.get('weight')?.touched && personForm.get('weight')?.invalid">
          <small *ngIf="personForm.get('weight')?.errors?.['required']">Поле "Вес" обязательно.</small>
          <small *ngIf="personForm.get('weight')?.errors?.['min']">Вес должен быть больше 0.</small>
        </div>

      </label>

      <label>
        Национальность:
        <select formControlName="nationality">
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
      </label>

      <div class="modal-actions">
        <button type="submit" [disabled]="personForm.invalid">Сохранить</button>
        <button type="button" (click)="closeEditModal()">Отмена</button>
        <button (click)="debugForm()">Отладить форму</button>

      </div>
    </div>
  </form>
</div>

